<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BaseUsageSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DocumentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DocumentExtensionFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PhotoExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47584E571AC15BDF0058ACEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47584E6F1AC1614F0058ACEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47584E811AC163460058ACEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47584E951AC163E40058ACEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47584EA71AC168860058ACEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47584EB41AC168870058ACEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4798F6F51A918933002B927C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4798F70D1A918933002B927C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
